svg {
  display: grid;
  align-items: center;
  width: 100%;
}
.one-rem-icon {
  width: 1rem;
}
html {
  overflow-x: clip;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacer-md);
  line-height: var(--lh-lg);
  background: var(--background);
  color: var(--small-elements);
  overflow-x: clip;
  width: 100%;
  position: relative;
}
body::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.05;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--bg-logo-url) -30rem -16rem;
  background-repeat: no-repeat no-repeat;
  background-size: 180rem 180rem;
}
@media (max-width: 39em) {
  body::after {
    display: none;
  }
}
body::-webkit-scrollbar {
  width: 1rem; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: var(--background); /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: var(--accent); /* color of the scroll thumb */
  border-radius: 4rem; /* roundness of the scroll thumb */
  border: 0.1875rem solid var(--background);
}
hr {
  border-top: 0.0625rem solid var(--small-elements);
  opacity: 0.3;
  max-width: 30%;
  margin-block: var(--spacer-sm);
}
.doted-list::before {
  content: "• ";
  color: inherit;
}

section,
body {
  transition: ease-in-out 0.2s;
}

body {
  animation: fade-sections 1s 1;
}
@keyframes fade-sections {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* .animation-hidden {
 opacity: 0;
 transition: var(--scroll-animation-speed);
}
.animation-show {
 opacity: 1;
} */
@media (prefers-reduced-motion) {
  .animation-hidden {
    transform: none;
  }
}
p {
  text-wrap: balance;
  max-width: 80ch;
  min-width: 22ch;
}
h1 {
  font-weight: var(--fw-b);
  font-size: var(--fs-lg);
  line-height: var(--lh-md);
  color: var(--accent);
}
h2 {
  font-size: var(--fs-xlg);
  font-weight: var(--fw-b);
  line-height: var(--lh-sm);
  margin-inline: var(--spacer-sm);
}
h3 {
  display: inline;
  line-height: 1;
  font-size: var(--fs-lg);
  font-weight: var(--fw-m);
  line-height: var(--lh-sm);
}
.text-right-alignment {
  text-align: right;
}
a {
  text-decoration: none;
  color: currentColor;
  display: block;
}
:root {
  --link-icon-font-size: 0.7rem;
}
.link {
  color: var(--accent);
  font-weight: var(--fw-m);
  text-decoration: underline solid transparent 0.13rem;
  text-underline-offset: 0.3125rem;
  transition: 0.3s ease;
  cursor: pointer;
  text-wrap: balance;
}
.link:hover,
.link:focus {
  text-decoration: underline solid var(--accent) 0.13rem;
}
.link-in-text {
  display: inline;
}
.header-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 1.5rem;
}
.header-icon-container > svg {
  color: currentColor;
  fill: currentColor;
}
.wrapper {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  flex-direction: column;
  gap: var(--spacer-md);
  margin: 1rem auto 3rem auto;
  max-width: 64rem;
  padding-inline: var(--spacer-sm);
}
main {
  display: flex;
  align-items: start;
  gap: var(--spacer-sm);
}
section {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: var(--spacer-lg);
}
.sections {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.copy-notification {
  position: relative;
}
.copy-notification::after {
  content: "Көшірілген! Скопировано!";
  position: absolute;
  top: -1.25rem;
  left: 0;
  opacity: 0;
  padding-inline: var(--spacer-sm);
  border-radius: var(--spacer-xs);
  color: var(--accent);
  background-color: var(--background);
  box-shadow: var(--panel-shadow-setup);
  font-weight: var(--fw-n);
  display: none;
}
.copy-notification.active::after {
  display: block;
  opacity: 1;
  animation: fadeOut 2s ease;
}
@keyframes fadeOut {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  20% {
    transform: translateY(-75%);
    opacity: 1;
  }
  80% {
    transform: translateY(-75%);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.span__2 {
  grid-column: span 2;
}
.span__3 {
  grid-column: span 3;
}
@media (max-width: 39em) {
  .wrapper {
    margin: 0 auto;
  }
}
.hidden {
  display: hidden;
}
@media (max-width: 39em) {
  .hidden-mobile {
    display: none;
  }
  .span__2 {
    grid-column: span 1;
  }
  .span__3 {
    grid-column: span 1;
  }
}
@media (min-width: 39.1em) {
  .hidden-desktop {
    display: none;
  }
}
