.header {
  display: flex;
  justify-content: space-between;
  gap: var(--spacer-xs) 0;
  align-items: center;
  width: 100%;
  margin-bottom: var(--spacer-lg);
  @media (max-width: 39em) {
    position: relative;
    flex-direction: column;
    align-items: start;
    margin-inline: auto;
    gap: var(--spacer-lg);
  }
}
.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  text-wrap: balance;
  gap: var(--spacer-sm);
  width: 100%;
  @media (max-width: 39em) {
    order: 2;
    align-self: center;
    justify-content: center;
    margin-top: 6rem;
  }
}
.logo__img {
  min-width: 4rem;
  min-height: 4rem;
  transition: 0.3s ease;
  background-image: var(--logo-url);
  background-size: cover;
}
.logo__text {
  font-weight: var(--fw-n);
  font-size: var(--fs-lg);
  line-height: var(--lh-md);
  color: var(--accent);
}
.city-name {
  font-size: var(--fs-sm);
  font-weight: var(--fw-n);
}
.header__row {
  display: flex;
  justify-content: space-between;
  gap: var(--spacer-md);
  @media (max-width: 39em) {
    width: 100%;
    padding-top: var(--spacer-xs);
    background: var(--filling-space);
    box-shadow: var(--panel-shadow-setup);
    position: fixed;
    margin-inline: -1rem;
    padding: var(--spacer-sm);
		/* padding-top: var(--spacer-sm); */
		z-index: 10;
  }
}
.lang__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--spacer-sm);
  align-items: center;
  justify-content: space-between;
  margin-right: var(--spacer-sm);
  margin-left: 0.5rem;
}
.lang__item {
  align-items: center;
  color: var(--accent);
  width: fit-content;
  padding: 0.3rem;
  cursor: pointer;
  text-decoration: underline solid transparent 0.1875rem;
  text-underline-offset: var(--spacer-xs);
  transition: 0.3s ease;
  line-height: normal;
}
.lang__item:hover,
.lang__item:focus {
  text-decoration: underline solid var(--accent) 0.1875rem;
}
.selected {
  font-weight: var(--fw-b);
}
.header__icons {
  color: var(--accent);
  display: flex;
  align-items: center;
  gap: var(--spacer-md);
  justify-content: space-evenly;
}
.header__icons > *:nth-child(2) {
  width: 2rem;
}
.sidebar {
  color: var(--accent);
  position: sticky;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: var(--spacer-xs);
  top: 8rem;
  min-width: 11rem;
  @media (max-width: 64em) {
    overflow-x: auto;
    background-color: var(--filling-space);
    position: fixed;
    width: 15rem;
    gap: var(--spacer-sm);
    padding: var(--spacer-md) var(--spacer-sm) var(--spacer-sm) 3rem;
    height: 100dvh;
    z-index: 15;
    border-radius: 2rem 0 0 2rem;
    box-shadow: var(--panel-shadow-setup);
    transform: translateX(10%);
    top: 0;
    transition: 0.3s ease;
    right: -16rem;
  }
}
.sidebar > * {
  align-self: flex-end;
  padding-right: 0.75rem;
  width: fit-content;
}
.sidebar__li {
  text-align: right;
  height: fit-content;
  display: inline-block;
  font-weight: var(--fw-m);
  color: var(--accent);
  transition: 0.3s ease;
  border-right: solid transparent 0.1875rem;
  padding: 0.25rem;
  padding-right: 0.75rem;
  line-height: 1.3;
  @media (max-width: 64em) {
  }
}
.sidebar__li:hover,
.sidebar__li:focus {
  @media (max-width: 64em) {
    color: var(--accent);
    font-weight: var(--fw-m);
    border-right: solid var(--accent) 0.1875rem;
  }
}
.menu-icon {
  display: none;
  @media (max-width: 64em) {
    display: block;
  }
}
.close-icon {
  display: none;
  @media (max-width: 64em) {
    display: block;
  }
}
