.lightwidget-widget {
  /* filter: drop-shadow(0 0 1rem var(--shadow-filter)); */
  border-radius: 2rem;
  box-shadow: var(--panel-shadow-setup);
}

:root {
  --base-clr-light: hsl(204, 56%, 24%);
  --bg-clr-light: hsl(205, 33%, 98%);
  --filling-clr-light: hsl(0, 0%, 100%);
  --accent-clr-light: hsl(207, 100%, 50%);
  --primary-shadow-clr-light: hsla(212, 100%, 7%, 0.075);
  --secondary-shadow-clr-light: hsla(0, 0%, 0%, 0.05);
  --third-shadow-color: hsla(212, 100%, 7%, 0.22);

  --shadow-border-thickness-1: 0.25rem;
  --shadow-border-thickness-2: 0.3125rem;
  --shadow-blur-1: 2rem;
  --shadow-blur-2: 1rem;

  --accent: var(--accent-clr-light);
  --text: var(--base-clr-light);
  --small-elements: var(--base-clr-light);
  --background: var(--bg-clr-light);
  --filling-space: var(--filling-clr-light);

  --panel-shadow-setup: 0 0 0 var(--shadow-border-thickness-1) var(--filling-clr-light),
    0 0 0 var(--shadow-border-thickness-2) var(--secondary-shadow-clr-light),
    0 0 var(--shadow-blur-1) var(--primary-shadow-clr-light);
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
.lightwidget__caption {
  color: var(--text);
  font-size: 1rem;
  font-weight: 400;
  padding-left: 1rem;
  border-left: solid transparent 0.1875rem;
}
.lightwidget__caption::after {
  display: block;
  margin-top: 0.5rem;
  content: "⧉ Instagram post";
  font-weight: 600;
  color: var(--accent);
  text-decoration: underline solid transparent 0.13rem;
  text-underline-offset: 0.3125rem;
  transition: 0.3s ease;
}
.lightwidget__photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 39em) {
    grid-template-columns: 1fr;
  }
}
.lightwidget__photo:hover .lightwidget__caption::after,
.lightwidget__photo:focus .lightwidget__caption::after {
  transition: 0.3s ease;
  text-decoration: underline solid var(--accent) 0.13rem;
}
.lightwidget__posts {
  background-color: var(--filling-space);
  display: grid;
  gap: 2rem;
  padding: 1rem;
}
.lightwidget__posts--grid .lightwidget__tile {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.lightwidget__posts--grid * {
  flex: 1 1 auto;
  min-width: 30%;
}
.lightwidget__image-wrapper {
  overflow: clip;
  border-radius: 1rem;
  box-shadow: var(--panel-shadow-setup);
}
.lightwidget__posts--image-format-square .lightwidget__image-wrapper {
  aspect-ratio: 16 / 9;
}
