.qna__message {
  text-align: end;
  align-self: end;
}
.new__accordion {
  display: grid;
  gap: var(--spacer-md);
  width: 100%;
}
.new__accordion details {
  overflow: hidden;
}
.new__accordion summary {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: var(--spacer-xs);
  color: var(--accent);
  font-size: 1.2rem;
  font-weight: var(--fw-m);
  padding: 0 var(--spacer-sm) 0 var(--spacer-sm);
  cursor: pointer;
  transition: 0.3s ease;
  border-left: 0.1875rem solid transparent;
  user-select: none;
  -webkit-user-select: none;
  &::after {
    content: "✛";
    text-align: center;
    transform: rotate(0deg) scale(1);
    transition: 0.3s ease;
  }
  &:hover {
    border-left: 0.1875rem solid var(--accent);
  }
}
.new__accordion details[open] summary:after {
  transform: rotate(45deg) scale(1.3);
  transition: 0.3s;
}
.new__accordion details .details-body {
  border-left: 0.1875rem solid var(--accent);
  margin: var(--spacer-sm) var(--spacer-sm) 0 var(--spacer-md);
  padding-left: var(--spacer-md);
  block-size: 0;
  opacity: 0;
  transition: 0.3s, content-visibility 0.3s;
  transition-behavior: allow-discrete;
}
.new__accordion details[open] .details-body {
  opacity: 1;
  block-size: auto;
  block-size: calc-size(auto);
  animation: answerAppearance 0.3s;
}
@keyframes answerAppearance {
  0% {
    display: none;
    transform: translateX(5rem);
    opacity: 0;
  }
  100% {
    display: block;
    transform: translateX(0);
    opacity: 1;
  }
}
