.competitions {
 display: flex;
 flex-direction: column;
 gap: var(--spacer-md);
}
.competition__grid {
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: var(--spacer-sm);
}
.competition__card {
 display: grid;
 gap: var(--spacer-sm);
 background-color: var(--filling-space);
 box-shadow: var(--panel-shadow-setup);
 border-radius: 1rem;
 padding: var(--spacer-md);
 /* text-align: end; */
}
.competition__parameters,
.lang-competition__subject,
.competition__links {
 text-align: start;
 margin-left: var(--spacer-sm);
}
.competitor__description {
 text-align: start;
}
.competition__info {
 display: grid;
 grid-template-columns: 1fr;
 /* text-align: start; */
 gap: var(--spacer-xs);
}
.competition__links {
 display: flex;
 flex-wrap: wrap;
 gap: var(--spacer-xs);
 margin-top: 1rem;
}
@media (max-width: 39em) {
 .competition__grid {
  grid-template-columns: 1fr;
 }
}
