.competitions {
  display: grid;
  justify-items: end;
  gap: var(--spacer-md);
}
.competition__grid {
	width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacer-sm);
}
.competition__card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: var(--spacer-sm);
  background-color: var(--filling-space);
  box-shadow: var(--panel-shadow-setup);
  border-radius: 1rem;
  padding: var(--spacer-md);
  /* text-align: end; */
}
.competition__card:nth-child(3) {
  grid-column: span 2;
}
.competition__parameters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.competition__parameters > *,
.competition__card-header > *:nth-child(1) {
  margin-left: var(--spacer-sm);
}
.competition__card-description {
  margin-left: 0;
  margin-bottom: auto;
}
.competition__parameters > a {
  margin-top: auto;
}
.competition-name {
	font-size: var(--fs-lg);
}

@media (max-width: 39em) {
  .competition__grid {
    grid-template-columns: 1fr;
  }
}
