footer {
 display: flex;
 flex-direction: column;
 align-items: center;
 overflow: clip;
 position: relative;
 width: 100%;
 background-color: var(--filling-space);
 box-shadow: var(--panel-shadow-setup);
}
.footer-wraper {
 z-index: 1;
}
.footer-content {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: start;
 justify-self: center;
 gap: var(--spacer-md) var(--spacer-xlg);
 margin: 4rem 2rem 8rem 4rem;
 max-width: 62rem;
 /* padding-inline: var(--spacer-xlg); */
}
.footer__follow-us,
.footer__contact-us {
 display: grid;
 gap: var(--spacer-sm);
 z-index: 1;
}
.footer__credits {
 display: grid;
 gap: var(--spacer-sm);
}
.footer__bg {
 position: absolute;
 left: 0%;
 top: -50%;
 width: 300%;
 height: 300%;
 background-size: contain;
 background-image: var(--logo-url);
 background-repeat: no-repeat;
 opacity: 0.05;
 z-index: 0;
}
.footer__illustration {
 position: absolute;
 bottom: 0;
 right: 0;
 width: clamp(23rem, 60vw, 34rem);
 margin: 0 var(--spacer-sm) 6rem 0;
 z-index: 0;
}
