.team__grid {
}
.team__img {
 overflow: clip;
 background-color: var(--filling-clr-light);
 box-shadow: var(--panel-shadow-setup);
 border-radius: 1rem;
 display: grid;
}
.team__img img {
 object-fit: cover;
 aspect-ratio: 16 / 9;
 height: 100%;
}
.lang__item input[type="radio"]:checked + label {
 font-weight: bold;
}
