.team__grid-container {
  width: 100%;
  display: grid;
  gap: 2rem;
}
.team__grid-container h3 {
	font-size: var(--fs-md);
}
.team__grid {
  display: grid;
  gap: 0.5rem 1rem;
  position: relative;
}
.team__principal-img {
  max-width: 16rem;
  flex: 1 1 auto;
  border-radius: 999rem;
  box-shadow: var(--panel-shadow-setup);
  display: flex;
  transition: 0.3s ease;
  transform: scale(1);
  overflow: clip;
  aspect-ratio: 1 / 1;
  margin: auto;
}
.team__principal-img img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
.team__content {
  display: grid;
  gap: 1rem;
  @media (max-width: 39rem) {
    justify-items: center;
    width: fit-content;
  }
}
.team__content > * {
  @media (max-width: 39rem) {
    width: fit-content;
    justify-items: center;
    width: fit-content;
  }
}
.team__content > * > * {
  @media (max-width: 39rem) {
    text-align: center;
  }
}

.team__principal-content {
  flex: 0 0 auto;
  display: grid;
  align-content: center;
  gap: 0;
  margin-left: -4rem;
  @media (max-width: 39rem) {
    margin-left: 0;
  }
}
.lang-principal__post {
  font-weight: var(--fw-m);
  margin-left: 1rem;
}
.lang-principal__name {
  font-weight: var(--fw-b);
  font-size: var(--fs-md);
  line-height: var(--lh-sm);
}
.principal-facebook {
  display: flex;
  align-items: center;
  gap: var(--spacer-xs);
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.lang-team__h3-administration {
  margin-left: 1rem;
}
.team__row {
  display: flex;
  flex-direction: column;
  justify-items: end;
  gap: 0.5rem;
  margin-left: -2rem;
  @media (max-width: 39rem) {
    margin-left: 0;
  }
}
.team__info-zone {
  height: 6rem;
  box-shadow: var(--panel-shadow-setup);
  border-radius: 1rem;
  background: linear-gradient(
      color-mix(in srgb, var(--filling-space), transparent 10%),
      color-mix(in srgb, var(--filling-space), transparent 10%)
    ),
    var(--logo-url); /* Adding a semi-transparent white layer on top of the background image */
  background-color: var(--filling-space);
  background-position: -130% 43%;
  background-size: 40rem;
  background-repeat: no-repeat;
}
.team__methodists-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  gap: 0.5rem;
  width: 100%;
  padding-bottom: 0.5rem;
  @media (max-width: 39em) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media (max-width: 23.5em) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.team__uno-metodist {
}
/* .team__methodists-row > *:nth-child(1) {
  order: 1;
}
.team__methodists-row > *:nth-child(2) {
  order: 2;
}
.team__methodists-row > *:nth-child(3) {
  order: 3;
}
.team__methodists-row > *:nth-child(4) {
  order: 4;
}
.team__methodists-row > *:nth-child(5) {
  order: 5;
}
.team__methodists-row > *:nth-child(6) {
  order: 6;
}
.team__methodists-row > *:nth-child(7) {
  order: 7;
}
.team__methodists-row > *:nth-child(8) {
  order: 8;
}
.team__methodists-row > *:nth-child(9) {
  order: 9;
}
.team__methodists-row > *:nth-child(10) {
  order: 10;
}
.team__methodists-row > *:nth-child(11) {
  order: 11;
}
.team__methodists-row > *:nth-child(12) {
  order: 12;
}
.team__methodists-row > *:nth-child(13) {
  order: 2;
}
.team__methodists-row > *:nth-child(14) {
  order: 3;
}
.team__methodists-row > *:nth-child(15) {
  order: 15;
}
.team__methodists-row > *:nth-child(16) {
  order: 2;
} */

.team__uno-methodist-trigger {
  display: flex;
  border-radius: 100rem;
  box-shadow: var(--panel-shadow-setup);
  transition: 0.3s ease;
  transform: scale(1);
  overflow: clip;
  position: relative;
  z-index: 1;
}
.team__uno-methodist-trigger img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  transform: scale(1.5) translateY(0.25rem);
}
.team__methodists-row > .team__uno-methodist:nth-child(7) > .team__uno-methodist-trigger > img {
  transform: scale(1.3) translateY(0.25rem);
}

.team__uno-methodist-tooltip {
  position: absolute;
  visibility: hidden;
  bottom: 0.3125rem;
  right: 0;
  padding: 1rem;
  z-index: 10;
  opacity: 0;
  transition: 0.3s ease;
  text-align: end;
}
.uno-methodist-name {
  font-weight: var(--fw-b);
  font-size: var(--fs-md);
  line-height: var(--lh-sm);
}
.uno-methodist-post {
  max-width: 24rem;
  text-wrap: balance;
  padding-bottom: 0.5rem;
  line-height: var(--lh-sm);
}
.uno-methodist-contacts {
  max-width: 36rem;
}
.team__uno-methodist:hover {
}

.team__uno-methodist:hover .team__uno-methodist-tooltip {
  visibility: visible;
  transition: 0.3s 0.2s ease;
  opacity: 1;
}
.team__uno-methodist:hover .team__uno-methodist-trigger {
  transition: 0.3s ease;
  transform: scale(1.2);
  z-index: 10;
}

.team__img {
  overflow: clip;
  background-color: var(--filling-clr-light);
  box-shadow: var(--panel-shadow-setup);
  border-radius: 1rem;
  display: grid;
}
.team__img img {
  object-fit: cover;
  aspect-ratio: 4 / 1;
  height: 100%;
}
.team__credits {
  display: grid;
  gap: 1rem;
}
.team__credits * {
  text-align: end;
}

.team__credits-flexlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 0 1rem;
  font-size: 0.8rem;
}

@media (max-width: 39em) {
  .team__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
  }
  .team__info-zone {
    height: 8rem;
    width: 100%;
    background-position: -60% 43%;
    background-size: 20rem;
  }
}
