.section__menu {
  @media (min-width: 48.1em) {
    display: none;
  }
}
.menu__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-template-rows: auto-fit;
  gap: 1rem;
}
.menu__li {
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: var(--filling-space);
  box-shadow: var(--panel-shadow-setup);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  line-height: 1.2;
  text-underline-offset: 0.1rem;
	text-align: start;
}
.menu__li:nth-child(1) {
	/* grid-column: span 2; */
	grid-row: span 2;
}
.menu__li:nth-child(4) {
	/* grid-column: span 2; */
	grid-row: span 2;
}
.menu__li:nth-child(1) {
	/* grid-column: span 2; */
	grid-row: span 2;
}
.menu__li:nth-child(7) {
	/* grid-column: span 2; */
	grid-column: span 1;
}
.menu__li:nth-child(8) {
	/* grid-column: span 2; */
	grid-column: span 1;
}
