body {
  max-width: 800px;
  margin: auto;
  border: solid 3px;
  border-radius: 2rem;
	background-color: aquamarine;
}
:root {
  --fw-m: 600;
  --fw-b: 700;
  --fs-sm: 1rem;
  --fs-md: 1.2rem;
  --fs-lg: clamp(1.4rem, 1.067rem + 0.86vw, 1.6rem);
  --fs-xlg: clamp(2.4rem, 1.582rem + 4.09vw, 4.2rem);
  --fs-xxlg: 6rem;
  --lh-lg: 1.6;
  --lh-md: 1.2;
  --lh-sm: 1;
  --lh-xs: 0.9;
  --spacer-xxs: 0.25rem;
  --spacer-xs: 0.5rem;
  --spacer-sm: 1rem;
  --spacer-md: 1.5rem;
  --spacer-lg: 2rem;
  --spacer-xlg: 4rem;
  --scroll-animation-speed: 1s ease;
  --transition-delay-1: 0.2s;
  --transition-delay-2: 0.4s;
  --transition-delay-3: 0.6s;
  --transition-delay-4: 0.8s;

  /* colors: light scheme */
  --base-clr-light: hsl(204, 56%, 24%);
  --bg-clr-light: hsl(205, 33%, 98%);
  --filling-clr-light: hsl(0, 0%, 100%);
  --accent-clr-light: hsl(207, 100%, 50%);
  --primary-shadow-clr-light: hsla(212, 100%, 7%, 0.075);
  --secondary-shadow-clr-light: hsla(0, 0%, 0%, 0.05);
  --third-shadow-color: hsla(212, 100%, 7%, 0.22);
}

:root {
  --accent: var(--accent-clr-light);
  --text: var(--base-clr-light);
  --small-elements: var(--base-clr-light);
  --background: var(--bg-clr-light);
  --filling-space: var(--filling-clr-light);

  --panel-shadow-setup: 0 0 0 var(--shadow-border-thickness-1) var(--filling-clr-light),
    0 0 0 var(--shadow-border-thickness-2) var(--secondary-shadow-clr-light),
    0 0 var(--shadow-blur-1) var(--primary-shadow-clr-light);
}

.lightwidget-widget {
  filter: drop-shadow(0 0 1rem var(--shadow-filter));
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
.lightwidget__caption {
  color: var(--text);
  font-size: 1rem;
  font-weight: 400;
  padding-left: 1rem;
  border-left: solid transparent 0.1875rem;
}
.lightwidget__caption::after {
  display: block;
  margin-top: 0.5rem;
  content: "⧉ Instagram post";
  font-weight: 600;
  color: var(--accent);
  text-decoration: underline solid transparent 0.13rem;
  text-underline-offset: 0.3125rem;
  transition: 0.3s ease;
}
.lightwidget__photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 39em) {
    grid-template-columns: 1fr;
  }
}
.lightwidget__photo:hover .lightwidget__caption::after,
.lightwidget__photo:focus .lightwidget__caption::after {
  transition: 0.3s ease;
  text-decoration: underline solid var(--accent) 0.13rem;
}
.lightwidget__posts {
  background-color: var(--background);
  display: grid;
  gap: 2rem;
  padding: 1rem;
}
.lightwidget__posts--grid .lightwidget__tile {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.lightwidget__posts--grid * {
  flex: 1 1 auto;
  min-width: 30%;
}
.lightwidget__image-wrapper {
  overflow: clip;
  border-radius: 1rem;
}
.lightwidget__posts--image-format-square .lightwidget__image-wrapper {
  aspect-ratio: 16 / 9;
}
